.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.container > div {
    margin-right: 10px;
}

.container > button {
    color: #fff;
    background-color: #06b0a6;
}

.container > button:hover {
    background-color: #009990;
}